@import url(https://fonts.googleapis.com/css?family=Bebas+Neue);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.googleapis.com/css?family=Kalam);
/* for full website width, no white border */
* {
  margin: 0;
  padding: 0;
  z-index:1;
}
#navbar
{
top: 0;
font-size:6vmin;
font-family: 'BEBAS NEUE';
display:flex;
justify-content:flex-end;
align-items:center;
position: fixed;
width:100%;
background:white;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
z-index:2;
}
ul
{
list-style-type: none;
margin: 0;
padding-right: 10px;
}
li
{
display:inline;
padding:5px;
}
a
{
text-decoration:none;
color:black;
}
#main
{
display:flex;
flex-direction:column;
font-family: 'Bebas Neue';
width: 100%;
color:white;
overflow-x:hidden;
}
#welcome-section
{
height:100vh;
background:#1a65c7;
}
#triangle
{
width:25vw;
height:auto;
position:absolute;
top:10%;
right:5%;
z-index: -1;
}
#oval
{
width:10vw;
height:auto;
position:absolute;
top:20%;
left:15%;
z-index: -1;
}
#graphic1
{
position:absolute;
top:105%;
right:5%;
z-index: -1;
opacity: .4;
}
.welcomegrid
{
display:grid;
grid-template-areas:
"photo desc desc"
"name desc desc"
". . .";
grid-template-rows:auto auto 1fr;
grid-template-columns:auto 1fr 1fr;
grid-gap:10px;
text-align:center;
margin:180px;
}
#photo
{
grid-area:photo;
display:flex;
align-items:center;
justify-content:center;
}
#potrait
{
width: 70%;
min-width:200px;
box-shadow:10px 10px #1ac77c;
}
.name h1
{
font-size:35px;
color:white;
grid-area:name;
font-family:Poppins;
}
.name p
{
font-size:20px;
color:#1ac77c;
margin-right:3%;
line-height:5px;
}
#desc
{
grid-area:desc;
background:url("https://thumbs.dreamstime.com/b/blue-color-background-grid-lines-graph-paper-vector-graphic-artwork-design-element-graph-paper-background-blue-color-127319706.jpg");
color:black;
box-shadow:10px 10px #1ac77c;
font-family:"Kalam";
margin:60px;
padding:20px;
font-size:1.3rem;
height:100px;

}
#projects
{
background:#181c24;
height:150vh;
text-align:center;
font-size:35px;
padding-top:20px;
padding-bottom:20px;
color:white;
border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}
.project-tile
{
display:grid;
grid-template-areas:
"one two ."
"three three three";
grid-template-rows:400px 400px;
grid-template-columns:500px 500px;
grid-gap:50px;
justify-content: center;
color:white;
padding-top:20px;
}
.pgrid1
{
background:rgba(191, 31, 31, 1);
grid-area:one;
display:flex;
flex-direction:column;
border-radius:30px;
}
.pgrid1 p,.pgrid2 p,.pgrid3 p,.pgrid4 p
{
justify-self:center;
align-self:center;
}
.project-tile a
{
color:white;
}
.project-tile img
{
width:500px;
height:350px;
justify-self:center;
align-self:center;
}
.pgrid2
{
background:#124a97;
grid-area:two;
display:flex;
flex-direction:column;
border-radius:30px;
}
.pgrid3m
{
  display:none;
}
.pgrid3,pgrid3m
{
display:flex;
flex-direction:column;
border-radius:30px;
grid-area:three;
}
.pgrid3 img,.pgrid3m img
{
width:700px;
height:338px;
}
.pgrid3 p,.pgrid3m p
{
background:black;
width:700px;
border-radius:0px 0px 30px 30px;
}
#contacts
{
background:#ddd;
height:80vh;
}
.contactwrap
{
text-align:center;
font-size:35px;
padding-top:60px;
color:black;
}
.contactwrap img
{
width:180px;
height:180px;
padding:40px;
margin-top:30px;
animation:out 2s;
}
.contactwrap img:hover
{
animation: hover 1s ease forwards;
}
.footer
{
border-top:5px solid #1ac77c;
color:black;
font-family:"Roboto Mono";
height:15vh;
background:#ddd;
text-align:center;
display:grid;
}
.footer h2
{

font-size:40px;
}
.footer p
{

font-size:25px;
}
.footer div
{
justify-self:center;
align-self:center;
}
@keyframes hover
{
  from{
  transition:0;
  }
  to{
  width:200px;
  height:200px;
  transition: width 2s linear 1s;
  }
}
@keyframes out
{
  from{
  width:200px;
  height:200px;
  }
  to{
  transition: width 2s linear 1s;
  }
}
/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px)
{
  .welcomegrid
  {
  display:grid;
  height:100vh;
  grid-template-areas:
  ". photo ."
  ". name ."
  "desc desc desc";
  grid-gap:10px;
  grid-template-rows:auto auto 1fr;
  grid-template-columns:1fr 1fr 1fr;
  padding-top:10px;
  margin:50px;
  margin-top:100px;
  }
  #triangle
  {
  width:80vw;
  height:auto;
  position:absolute;
  top:-2%;
  right:3%;
  z-index: -1;
  }
  #oval
  {
  width:30vw;
  height:auto;
  position:absolute;
  top:60%;
  left:3%;
  z-index: -1;
  }
  .name
  {
  font-size:35px;
  color:white;
  grid-area:name;
  padding-top:5px;
  }
  .name p
  {
  font-size:20px;
  color:#1ac77c;
  margin-right:3%;
  line-height:5px;
  }
  #desc
  {
    grid-area:desc;
  background:url("https://thumbs.dreamstime.com/b/blue-color-background-grid-lines-graph-paper-vector-graphic-artwork-design-element-graph-paper-background-blue-color-127319706.jpg");
  color:black;
  box-shadow:10px 10px #1ac77c;
  font-family:"Kalam";
  margin:20px;
  padding:20px;
  font-size:1.3rem;
  height:60px;
  }
  #projects
  {
  height:200vh;
  }
  .project-tile
  {
  display:grid;
  grid-template-areas:
  "one"
  "two"
  "three"
  "four";
  grid-template-rows:370px;
  grid-template-columns:450px;
  grid-gap:50px;
  justify-content: center;
  }
  .project-tile img
  {
  width: 450px;
  height: auto;
  }
  .pgrid3
  {
    display:none;
  }
  .pgrid3m
  {
  display:flex;
  flex-direction:column;
  border-radius:30px;
  grid-area:three;
  }
  .pgrid3m p
  {
  width:450px;
  }
  .contactwrap img
  {
  width:100px;
  height:100px;
  padding:20px;
  margin-top:30px;
  }
  .footer h2
  {
  font-size:25px;
  }
  .footer p
  {
  font-size:20px;
  }
  .contactwrap img:hover,.contactwrap img
  {
  animation: none;
  }
} 
