@import url(https://fonts.googleapis.com/css?family=Bebas+Neue);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.googleapis.com/css?family=Kalam);
/* for full website width, no white border */
* {
  margin: 0;
  padding: 0;
  z-index:1;
}
.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a65c7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > img {
  width: 100px;
  height: auto;
}

.loader.hidden {
  animation: fadeOut 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
      opacity: 0;
      visibility: hidden;
  }
}
#navbar
{
top: 0;
font-size:5vh;
font-family: 'BEBAS NEUE';
display:flex;
background:white;
justify-content:flex-end;
align-items:center;
position: fixed;
width:100%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
z-index:2;
}
nav img
{
width:2.5vw;
height:2.5vw;
left:5vw;
position:absolute;
}
ul
{
list-style-type: none;
margin: 0;
padding-right: 6px;
}
li
{
display:inline;
padding:4px;
}
a
{
text-decoration:none;
color:black;
}
#main
{
display:flex;
flex-direction:column;
font-family: 'Bebas Neue';
width: 100%;
color:white;
overflow-x:hidden;
}
#welcome-section
{
height:100vh;
background:#1a65c7;
}
#triangle
{
width:80vw;
height:auto;
position:absolute;
top:4%;
right:3%;
z-index: -2;
}
#oval
{
width:30vw;
height:auto;
position:absolute;
top:70%;
left:3%;
z-index: -1;
}
#graphic1
{
position:absolute;
top:112%;
right:5%;
z-index: -1;
opacity: .4;
}
.welcomegrid
{
display:grid;
height:100vh;
grid-template-areas:
". photo ."
". name ."
"desc desc desc";
grid-gap:10px;
grid-template-rows:auto auto 1fr;
grid-template-columns:1fr 1fr 1fr;
text-align: center;
margin-top:15vh;
}
#photo
{
grid-area:photo;
display:flex;
align-items:center;
justify-content:center;
}
#potrait
{
width: 35vh;
min-width:200px;
box-shadow:10px 10px #1ac77c;
}
.name
{
font-size:1.3em;
color:white;
grid-area:name;
padding-top:5px;
}
.name h1
{
color:white;
grid-area:name;
font-family:Poppins;
}
.name p
{
font-size:1.2em;
color:#1ac77c;
margin-right:3%;
}
#desc
{
grid-area:desc;
background:url("https://i.imgur.com/mxNFz9q.png");
color:black;
box-shadow:10px 10px #1ac77c;
font-family:"Kalam";
margin:30px;
margin-top:15px;
padding:15px;
font-size:5.2vmin;
height:80px;
}
#projects
{
background:#181c24;
height:180vh;
text-align:center;
font-size:35px;
padding-top:20px;
padding-bottom:20px;
color:white;
border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}
.project-tile
{
display:grid;
grid-template-areas:
"one"
"two"
"three"
"four";
grid-template-rows:295px;
grid-template-columns:350px;
grid-gap:50px;
justify-content: center;
color:white;
padding-top:20px;
}
.pgrid1
{
background:rgba(191, 31, 31, 1);
grid-area:one;
display:flex;
flex-direction:column;
border-radius:30px;
}
.pgrid1 p,.pgrid2 p,.pgrid3 p,.pgrid4 p
{
justify-self:center;
align-self:center;
}
.project-tile a
{
color:white;
}
.project-tile img
{
width: 350px;
height: auto;
justify-self:center;
align-self:center;
}
.pgrid2
{
background:#124a97;
grid-area:two;
display:flex;
flex-direction:column;
border-radius:30px;
}
.pgrid3
{
  display:none;
}
.pgrid3m
{
display:flex;
flex-direction:column;
border-radius:30px;
grid-area:three;
}
.pgrid3 p,.pgrid3m p
{
background:black;
width:350px;
border-radius:0px 0px 30px 30px;
}
#contacts
{
background:#ddd;
height:80vh;
}
.contactwrap
{
text-align:center;
font-size:35px;
padding-top:20vh;
color:black;
}
.contactwrap img
{
width:70px;
height:70px;
padding:15px;
margin-top:20px;
}
.contactwrap img:hover,.contactwrap img
{
animation: none;
}
.footer
{
border-top:5px solid #1ac77c;
color:black;
font-family:"Roboto Mono";
height:15vh;
background:#ddd;
text-align:center;
display:grid;
}
.footer h2
{
font-size:25px;
}
.footer p
{
font-size:20px;
}

.footer div
{
justify-self:center;
align-self:center;
}
@keyframes hover
{
  from{
  transition:0;
  }
  to{
  width:16vw;
  height:16vw;
  transition: width 1s linear 1s;
  }
}
@keyframes out
{
  from{
  width:16vw;
  height:16vw;
  }
  to{
  transition: width 1s linear 1s;
  }
}
/* iPhone 6/7/8, Pixel 2 (phones 375px and up)*/
@media only screen and (min-width: 375px)
{
  #navbar
  {
  font-size:4.5vh;
  }
  ul
  {
  list-style-type: none;
  margin: 0;
  padding-right: 10px;
  }
  li
  {
  display:inline;
  padding:3px;
  }
  .welcomegrid
  {
  margin-top:18vh;
  }
  #projects
  {
  height:150vh;
  }
  .contactwrap
  {
  font-size:40px;
  padding-top:22.5vh;
  }
  .name h1
  {
  font-size:2em;
  font-family:Poppins;
  }
  .name p
  {
  font-size:1.5em;
  color:#1ac77c;
  margin-right:3%;
  }
}
/* iPad / Tablet (tablets 768px and up)*/
@media only screen and (min-width: 768px)
{
  
  #navbar
  {
  font-size:3em;
  }
  .welcomegrid
  {
  margin-top:22.5vh;
  }
  #potrait
  {
  min-width:300px;
  }
  #desc
  {
  font-family:"Kalam";
  margin:30px;
  margin-top:15px;
  padding:15px;
  font-size:5.2vmin;
  height:120px;
  }
  .name
  {
  font-size:2em;
  padding-top:5px;
  }
  .name p
  {
  font-size:1.2em;
  margin-right:3%;
  }
  #projects
  {
  height:135vh;
  }
  .project-tile
  {
  grid-template-rows:400px;
  grid-template-columns:500px;
  grid-gap:50px;
  }
  .pgrid3m p
  {
  width:500px;
  border-radius:0px 0px 30px 30px;
  }
  .pgrid1 img,.pgrid2 img
  {
  width:500px;
  height:350px;
  justify-self:center;
  align-self:center;
  }
  .pgrid3 img,.pgrid3m img
  {
  width:500px;
  height:241.4px;
  }
  .contactwrap
  {
  font-size:60px;
  padding-top:25vh;
  }
  .contactwrap img
  {
  width:100px;
  height:100px;
  padding:15px;
  margin-top:20px;
  }
  #contacts
  {
  height:90vh;
  }
  .footer
  {
  height:10vh;
  background:#ddd;
  text-align:center;
  display:grid;
  }
  .footer h2
  {
  font-size:40px;
  }
  .footer p
  {
  font-size:30px;
  }
}
@media only screen and (min-width: 1024px)
{
  #navbar
{
top: 0;
font-size:6vmin;
font-family: 'BEBAS NEUE';
display:flex;
justify-content:flex-end;
align-items:center;
position: fixed;
width:100%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
z-index:2;
}
ul
{
list-style-type: none;
margin: 0;
padding-right: 0.5vw;
}
li
{
display:inline;
padding:0.5vw;
}
a
{
text-decoration:none;
color:black;
}
#main
{
display:flex;
flex-direction:column;
font-family: 'Bebas Neue';
width: 100%;
color:white;
overflow-x:hidden;
}
#welcome-section
{
height:100vh;
background:#1a65c7;
}
#triangle
{
width:25vw;
height:auto;
position:absolute;
top:10%;
right:5%;
z-index: -1;
}
#oval
{
width:10vw;
height:auto;
position:absolute;
top:20%;
left:15%;
z-index: -1;
}
#graphic1
{
position:absolute;
top:105%;
right:5%;
z-index: -1;
opacity: .4;
width:15vw;
}
.welcomegrid
{
display:grid;
grid-template-areas:
"photo desc desc"
"name desc desc"
". . .";
grid-template-rows:repeat( auto-fit, minmax(250px, 1fr) );
grid-template-columns:repeat( auto-fit, minmax(250px, 1fr) );
grid-gap:3vh;
text-align:center;
margin:20vh;
}
#photo
{
grid-area:photo;
display:flex;
align-items:center;
justify-content:center;
}
#potrait
{
width: 22.5vw;
min-width:200px;
box-shadow:0.7vw 0.7vw #1ac77c;
}
.name h1
{
font-size: 3.2vw;
color:white;
grid-area:name;
font-family:Poppins;
}
.name p
{
font-size: 2vw;
color:#1ac77c;
margin-right:3%;
line-height:5px;
}
#desc
{
grid-area:desc;
background:url("https://i.imgur.com/mxNFz9q.png");
background-repeat: no-repeat;
background-position: center;    /* <-- these 3 lines keep background from zoom out */
background-size: cover;
color:black;
box-shadow:0.7vw 0.7vw #1ac77c;
font-family:"Kalam";
margin:5vh;
padding:2vw;
font-size: 2vw;
height:18vh;

}
#projects
{
background:#181c24;
height:160vh;
text-align:center;
font-size:3vw;
padding-top:20px;
padding-bottom:20px;
color:white;
border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}
.project-tile
{
display:grid;
grid-template-areas:
"one two ."
"three three three";
grid-template-rows:30vw 30vw;
grid-template-columns:42vw 42vw;
grid-gap:1vw;
justify-content: center;
color:white;
padding-top:3vh;
}
.pgrid1
{
background:rgba(191, 31, 31, 1);
grid-area:one;
display:flex;
flex-direction:column;
border-radius:2vw;
}
.pgrid1 p,.pgrid2 p,.pgrid3 p,.pgrid4 p
{
justify-self:center;
align-self:center;
}
.project-tile a
{
color:white;
}
.project-tile img
{
width:42vw;
height:36vw;
}
.pgrid2
{
background:#124a97;
grid-area:two;
display:flex;
flex-direction:column;
border-radius:2vw;
}
.pgrid3m
{
  display:none;
}
.pgrid3,pgrid3m
{
display:flex;
flex-direction:column;
border-radius:2vw;
grid-area:three;
margin-top:2.5vw;
}
.pgrid3 img,.pgrid3m img
{
width:50vw;
height:30vw;
}
.pgrid3 p,.pgrid3m p
{
background:black;
width:50vw;
border-radius:0px 0px 2vw 2vw;
}
#contacts
{
background:#ddd;
height:80vh;
}
.contactwrap
{
text-align:center;
font-size:3vw;
padding-top:3.5vw;
color:black;
}
.contactwrap img
{
width:14vw;
height:14vw;
padding:1.5vw;
margin-top:2vw;
animation:out 0.3s;
}
.contactwrap img:hover
{
animation: hover 0.4s ease forwards;
}
.footer
{
border-top:0.3vw solid #1ac77c;
color:black;
font-family:"Roboto Mono";
height:15vh;
background:#ddd;
text-align:center;
display:grid;
}
.footer h2
{

font-size:3vw;
}
.footer p
{

font-size:2vw;
}
.footer div
{
justify-self:center;
align-self:center;
}
} 
